/*div { border: solid; }*/

/*p.left,
a.left {
	text-align: left;
}

p.right,
p.right {
	text-align: right;
}*/



/*.join-board-form {
	color: black;
}*/

/*.circle {
	border-radius: 50%;	
	width: 60px;
	height: 60px; 
	color: white;
	border: solid;
}*/

/*#logo {
	width: 60px;
	height: auto;
	margin-top: -10px;
}*/

/* ----------- */
/*  DASHBOARD  */
/* ----------- */
